.container {
    margin: 0 auto;
    font-family: "aventir";
}

@font-face {
    font-family: "aventir";
    src: url(./font/AvenirLTStd-Medium.otf);
  }

section {
    width: 60%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.inc_dec button{
    background: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.step_form button{
    padding: 10px;
    background: pink;
}

.auto_inc_dec button{
    background: palevioletred;
    padding: 8px;
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
}
.auto_inc_dec button:last-child {
    background-color: blue;
}

.auto_inc_dec button:first-child {
    background-color: green;
}
.auto_inc_dec button:hover {
    transform: scale(0.7); 
    cursor: pointer;
}
.auto_inc_dec button:active {
    border: 3px solid red;
}

.auto_inc_dec {
    margin: 0 auto;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.result_area {
    border: 1px solid black;
    text-align: center;
    margin: 20px;
}

.counter_value {
    color: red;
    font-size: 1.5em;
}

.step_value {
    color: green;
    font-size: 1.1em;
}